:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* for scrollbar */
ul {
  scrollbar-width: thin;
  scrollbar-color: #888 #ffffff;
}

ul::-webkit-scrollbar {
  width: 8px;
}
ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}
ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}


/* src/DropdownStyles.css */
.dropdownContainer {
  position: relative;
}

.dropdownButton {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.dropdownItem {
  height: 30px;  /* Make sure this matches ITEM_HEIGHT in your JS */
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.dropdownItemHover:hover {
  background-color: gray; /* Using CSS hover for simplicity */
}

.dropdownItemSelected {
  background-color: lightblue;
}